<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303174947106-ok5d2806bp7m0gqui5eerp9napv1rc80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303174947106-ok5d2806bp7m0gqui5eerp9napv1rc80</string>
	<key>API_KEY</key>
	<string>AIzaSyBdZ8fOuEnKIKCwLLgQjCSgccoh-mNjcuc</string>
	<key>GCM_SENDER_ID</key>
	<string>303174947106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Wash-U.Dorm-to-Dorm</string>
	<key>PROJECT_ID</key>
	<string>dorm-to-dorm</string>
	<key>STORAGE_BUCKET</key>
	<string>dorm-to-dorm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303174947106:ios:4212eaca45abecfb2dd57b</string>
</dict>
</plist>